<div class="store-container">
    <header>
        <div class="kaspi-header">
        <img src="https://upload.wikimedia.org/wikipedia/ru/thumb/a/aa/Logo_of_Kaspi_bank.png/960px-Logo_of_Kaspi_bank.png?20170626135209" alt="Kaspi Logo" class="kaspi-logo">
        <h1 class="header-title">Kaspi.kz</h1>
    </div>
    </header>

    @if(selectedCategoryId()===null){
        <h1 class="page-title">Online store on Kaspi.kz</h1>
        <div class="category-grid">
            @for (catg of allCategories; track catg.id) {
            <div class="category-card" (click)="selectCategory(catg.id)">
            <span class="category-name">{{catg.name}}</span>
            <img [src]="catg.image" [alt]="catg.name" class="category-image">
            </div>
        }
        </div>
    }

    @else {
        <div class="category-view">
            <button class="back-btn" (click)="selectCategory(null)">Go back to categories</button>
            <app-product-list 
            [products]="filteredProducts()"
            (removeProduct)="handleRemoveProduct($event)"/>
        </div>
    }

    <!--<section class="category-grid">
        @for (catg of allCategories; track catg.id) {
            <div class="category-card" (click)="selectCategory(catg.id)"
            [class.active]="selectedCategoryId()===catg.id">
            <span class="category-title">{{catg.name}}</span>
            <img [src]="catg.image" [alt]="catg.name" class="category-image">
            </div>
        }
    </section>

    <main class="products-section">
        @if (selectedCategoryId()){
            <app-product-list [products]="filteredProducts()"/>
        }
    </main>-->
</div>