<div class="product-card">
    <a [href]="product().link" target="_blank" class="product-link">
        <img [src]="product().images[0]" [alt]="product().name" class="product-image">
    </a>

    <div class="product-info">
        <a [href]="product().link" target="_blank" class="product-title-link">
            <h3>{{product().name}}</h3>
        </a>
        <p class="description">{{product().description}}</p>

        <div class="about-product">
            <span class="price"> {{product().price}} </span>
            <span class="rating">⭐ {{product().rating}} </span>
        </div>
        <div class="actions-wrapper">
            <div class="actions">
                <button (click)="like($event)" class="like-btn">
                    ❤️ {{product().likes}}
                </button>

                <button (click)="delete($event)" class="remove-btn">
                    🗑️ Delete
                </button>
            </div>

            <div class="share-btn">
                <button (click)="share('wa', $event)">WhatsApp</button>
                <button (click)="share('tg', $event)">Telegram</button>
            </div>
        </div>
    </div>
</div>