* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background: #f0f2f5;
    color: #1c1e21;
}
.facebook-main-code {
    /*position: absolute;*/
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
}

.facebook-main-code .container {
    /*position: relative;*/
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    width: 100%;
}

.container .banner {
    display: flex;
    flex-direction: column;
}

.banner .logo {
    font-size: 60px;
    color: #1877f2;
    font-weight: bold;
}

.banner p {
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 5rem;
    max-width: 310px;
}

.login form {
    display: flex;
    flex-direction: column;
    background: #fff;
    padding: 28px 20px;
    width: 360px;
    border-radius: 6px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 
    0 8px 16px rgba(0, 0, 0, 0.1);
}

form input {
    border: 1px solid #dddfe2;
    padding: 8px 16px;
    margin-bottom: 12px;
    font-size: 1rem;
    border-radius: 6px;
}

form input:focus {
    outline: none;
    border: 2px solid #1877f2;
}

form .login-bt {
    outline: none;
    border: none;
    padding: 8px 16px;
    border-radius: 6px;
    background: #1877f2;
    color: #fff;
    font-size: 1.1rem;
    font-weight: bold;
}

form .login-bt:hover {
    cursor: pointer;
}

form a{
    text-decoration: none;
    text-align: center;
    font-size: 1rem;
    color: #1877f2;
    padding-top: 13px;
}

form hr {
    background: #f7f7f7;
    margin: 1rem;
}

form .create-acc {
    box-sizing: border-box;
    outline: none;
    border: none;
    background: rgb(20, 196, 20);
    padding: 8px 16px;
    border-radius: 6px;
    font-size: 1rem;
    color: #fff;
    width: 63%;
    margin: 0 auto;
    font-weight: bold;
}

form .create-acc:hover {
    cursor: pointer;
}

.create-page {
    margin-top: 22px;
    text-align: center;
    font-size: 14px;
    color: #1c1e21;
    max-width: 390px;
}

.create-page a {
    color: #1c1e21;
    font-weight: 700;
    text-decoration: none;
}

footer {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #737373;
    background: #fff;
    width: 100%;
    padding: 26px 0;
}

.fb-footer-container {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #737373;
    width: 980px;
    margin: 0 auto;
}

hr {
    border: none;
    border-top: 1px solid #ddd;
    margin: 10px 0;
}

.language, .fb-footer-link {
    display: flex;
    flex-wrap: wrap;
    gap: 8px 15px;
}

footer a {
    text-decoration: none;
    color: #737373;
}

footer a:hover {
    text-decoration: underline;
}

.plus_lang {
    width: 35px;  
    height: 23px;    
    font-size: 18px;  
    cursor: pointer;
}