.products-grid {
    display: grid;
    gap: 40px !important;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr)); 
    padding: 30px;
    max-width: 1400px;
    margin: 0 auto;
    row-gap: 50px !important;
}

.no-products {
  text-align: center;
  padding: 50px;
  color: #666;
  grid-column: 1 / -1;
}