* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body {
    background-color: #000000;
    color: #ffffff;
    min-height: 100vh;
}

.main-page {
    display: flex;
    height: 100vh;
    width: 100%;
}

.brand {
    flex: 1.2;
    background-color: #000000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10%;
}

.brand-logo {
    margin-top: 50px;
    margin-left: -100px;
}

.brand-logo img {
    width: 100px;
    height: auto;
}

.brand-text {
    font-family: 'Times New Roman', Times, serif;
    font-size: 45px;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 30px;
    max-width: 650px;
    text-align: center;
}

.gradient-text {
    font-family: 'Times New Roman', Times, serif;
    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background-clip: text;
    color: transparent;
}

.main-photo img {
    height: 300px;
    margin-left: 130px;
    margin-bottom: 50px;
}

.log-section {
    flex: 1;
    background-color: #0d1a26;
    border-left: 3px solid #666060; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.log-content {
    width: 100%;
    max-width: 600px;
    padding: 20px;
}

.login-header {
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: 500;
}

.login-form input {
    font-family: "Montserrat", sans-serif;
    width: 100%;
    padding: 14px;
    background-color: transparent;
    border: 1px solid #ffffff;
    border-radius: 12px;
    color: #fff;
    font-size: 13px;
    margin-bottom: 12px;
    outline: none;
}

.login-form input:focus {
    border-color: #555555;
}
.login-btn {
    width: 100%;
    background-color: #00376b;
    color: #7a7a7a;
    border: none;
    padding: 12px;
    border-radius: 15px;
    font-weight: 600;
    margin-top: 10px;
}

.links-area {
    text-align: center;
    margin-top: 25px;
}

.fg-pass {
    font-family: "Montserrat", sans-serif;
    display: block;
    font-size: 14px;
    color: #ffffff;
    text-decoration: none;
    margin-bottom: 55px;
    font-weight: 500;
    text-align: center;
}
.fb-login {
    margin-top: 10px;
    width: 100%;
}
.fb-login a, .signup-link a {
    display: block;
    width: 100%;
    padding: 10px;
    border: 1px solid #363636;
    border-radius: 25px;
    color: #ffffff;
    text-decoration: none;
    font-size: 14px;
    margin-bottom: 15px;
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
}

.fb-login a {
    display: flex;           
    align-items: center;      
    justify-content: center;  
    gap: 10px;                 
    
    width: 100%;
    padding: 12px;
    border: 1px solid #363636;
    border-radius: 25px;      
    
    color: #ffffff;
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;

}


.fb-logo-img {
    width: 25px; 
    height: 20px;
    object-fit: contain;
    
}


.fb-login a:hover {
    background-color: rgba(255, 255, 255, 0.1);
}
.signup-link a {
    border-color: #0095f6;
    color: #0095f6;
}
.meta-footer-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    width: 100%;
}

.meta-logo-clean {
    width: 80px;        
    height: auto;
    
    filter: invert(1) grayscale(1) brightness(2); 
    
    mix-blend-mode: screen; 
    
    opacity: 0.8;
}

@media (max-width: 900px) {
    .brand-section { display: none; }
    .auth-section { border-left: none; }
}